<tr>
    <td><img class="avatar" src="{{ .Site.BaseURL }}/images/show-hosts_ingmar.jpg"></td>
    <td>Ingmar</td>
    <td>
        <a target="_blank" href="https://twitter.com/_truefalse"><img src="{{ .Site.BaseURL }}/images/twitter.jpg"></a>
        <a target="_blank" href="https://norden.social/users/ingmar"><img
                src="{{ .Site.BaseURL }}/images/mastodon.jpg"></a>
        <a target="_blank" href="https://github.com/iwittkau"><img src="{{ .Site.BaseURL }}/images/github.jpg"></a>
        <a target="_blank" href="https://ingmar.me"><img src="{{ .Site.BaseURL }}/images/website.jpg"></a>
    </td>
</tr>